.a3s {
	font-family: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace !important;
}

.editable {
	font-family: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace !important;
	max-width: 78ch;
	word-wrap: break-word;
}

.hP {
	font-family: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, ,monospace !important;
	font-weight: bold;
	text-decoration: underline;
}
