.a3s {
	font-family: monospace !important;
}

.editable {
	font-family: monospace !important;
	max-width: 78ch;
	word-wrap: break-word;
}

.hP {
	font-family: monospace !important;
	font-weight: bold;
	text-decoration: underline;
}
